<div class="flexContainerColumn">
  <div class="flexBoxColumn">
    <h1>Flex Box Column 1</h1>
  </div>

  <div class="flexBoxColumn">
    <h1>Flex Box Column 2</h1>
  </div>

  <div class="flexBoxColumn">
    <h1>Flex Box Column 3</h1>
  </div>
</div>

<div class="flexContainerRow">
  <div class="flexBoxRow1">
    <h1>Flex Box Row 1</h1>
  </div>

  <div class="flexBoxRow2">
    <h1>Flex Box Row 1</h1>
  </div>

  <div class="flexBoxRow1">
    <h1>Flex Box Row 2</h1>
  </div>

  <div class="flexBoxRow2">
    <h1>Flex Box Row 2</h1>
  </div>
</div>